
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    display: flex;
    flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;

  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}


#calculator {
    background-color: #60a797;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;



    border: 5px solid black;
    border-radius: 10px;
    
    width: 250px;
    height: 400px;

    box-shadow: 0px 0px 50px 10px black;
    
}

#display {
    margin: 10px;
    height: 80px;
    width: 220px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: #c1ffcd;
}

.top-3-buttons {
    background-color: lightgray;
}
.top-3-buttons:active {
    background-color: hsl(0, 0%, 90%);
}

.right-side-buttons {
    background-color: orange;
}
.right-side-buttons:active {
    background-color: hsl(39, 100%, 60%);

}

.digits {
    background-color: white;
}
.digits:active {
    opacity: 85%;

}

#fun {
    background-color: white;
}
#fun:active {
    opacity: 85%;

}


.bottom-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


button {
    height: 40px;
    width: 40px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 50%;
}

.animate {
    animation: funColorAnimation 5s ease-out forwards;
}

@keyframes funColorAnimation {
    0% {box-shadow: 0px 0px 50px 10px red;}
    25% {box-shadow: 0px 0px 50px 10px lawngreen; }
    50% {box-shadow: 0px 0px 50px 10px aqua; }
    75% { box-shadow: 0px 0px 50px 10px blue;}
    100% {box-shadow: 0px 0px 50px 10px black;}
}

