
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    display: flex;
    flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;

  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}


#calculator {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    border: 5px solid black;
    border-radius: 10px;
    
    width: 250px;
    height: 400px;

    box-shadow: 0px 0px 50px 10px blue;
    
}

#display {
    margin: 10px;
    height: 80px;
    width: 220px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: white;
}

.top-3-buttons {
    background-color: lightgray;
}

.right-side-buttons {
    background-color: orange;

}

.bottom-row {
    display: flex;
    flex-grow: 2;
    justify-content: flex-start;
    align-items: flex-end;

}

#button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    

}



#equals {
    flex-grow: 2;
}

button {
    height: 40px;
    width: 40px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 50%;
}

button:active {
    opacity: 80%;
}
